body{
    margin: 0;
    padding: 0;
    background-image: url(images/penguines.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--text--color);
}

:root{
    --main--color:orange;
    --text--color:black;
    --text: white;
}

.header{
    display: grid;
    justify-content: center;
    align-items: center;
}

.header li{
    display: inline;
}

.header li a{
    margin-left: 30px;
    text-decoration: none;
    color: var(--text--color);
}

.header li button{
    margin-left: 60px;
}

.btn1, .btn2{
    font-weight: bold;
    border: none;
    background-color: var(--main--color);
    border-radius: 15px;
    padding: 10px;
    color: var(--text);
    align-items: center;
    padding-left: 5px;
}